{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light shadow-sm py-10">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
            <img src="/img/logo.svg" alt="Forum" class="me-2">
        </a>
        {{if .ID}}
        <div class="navbar-brand d-flex align-items-center" style="display: grid;grid-auto-flow: column;grid-column-gap: 10px">
            <span class="me-3">Welcome, {{.Name}}</span>
            <a class="nav-link" href="/">Home</a>

            <div class="dropdown ms-3">
                <div class="nav-link dropdown-toggle" 
                     style="cursor: pointer;" 
                     id="myPostsDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                     My posts
                </div>
                <ul class="dropdown-menu" aria-labelledby="myPostsDropDown">
                    <li><a class="dropdown-item" href="/myCreatedPosts/">My created posts</a></li>
                    <li><a class="dropdown-item" href="/myLikedPosts/">My liked posts</a></li>
                </ul>
            </div>


            <a class="btn btn-success" href="/newPost/">Create Post</a>
            <div class="dropdown ms-3">
                <div class="bg-secondary text-white rounded-circle d-flex align-items-center justify-content-center" 
                     style="width: 40px; height: 40px; cursor: pointer;" 
                     id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fa-solid fa-user fa-beat"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-shield-alt me-2"></i> Profile</a></li> -->
                    <li><a class="dropdown-item" href="/logout/"><i class="fas fa-power-off me-2"></i> Log Out</a></li>
                </ul>
            </div>
        </div>
        {{else}}
        <a class="btn btn-success" href="/auth/">Sign in</a>
        {{end}}
    </div>
</nav>
{{end}}