{{define "posts"}}
    {{range .}}
        <a href="/post/{{.UUID}}" class="nav-link" >
            <div class="post-card">
                <h5 class="mt-2">{{.Title}}</h5>
                {{range .Categories}} 
                    <span class="badge bg-warning text-dark">{{.Name}}</span>
                {{end}}
                <p>{{.Description}}</p>
                <small>Author: {{.User.Username}} | Created: {{.CreatedAt | formatDate }}</small>
            </div>
        </a>
    {{end}}
{{end}}