{{template "header"}}
<body>
    
    {{template "loggedInNavbar"}}
    
    
    <div class="container mt-5">
        <h3>Recent Posts</h3>
        <input type="text" class="form-control my-3" placeholder="Search">
        
        <div class="categories mb-3">
            {{range .Categories}}
            <button class="btn btn-outline-secondary">{{.Name}}</button>
            {{end}}
        </div>
        
        {{range .Posts}}
            <a href="/post/{{.UUID}}" class="nav-link" >
                <div class="post-card">
                    {{range .Categories}} 
                        <span class="badge bg-warning text-dark">{{.Name}}</span>
                    {{end}}
                    <h5 class="mt-2">{{.Title}}</h5>
                    <p>{{.Description}}</p>
                    <small>Author: {{.User.Username}} | Created: {{.CreatedAt}}</small>
                </div>
            </a>
        {{end}}
    </div>
    
    {{template "footer"}}
</body>
</html>
