{{template "header"}}
<body>
    {{template "loggedInNavbar"}}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a class="nav-link text-secondary" href="/home/">← Back to posts</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>{{.Post.Title}}</h1>
            </div>
        </div>
    </div>
    </div>

    
    {{template "footer"}}
</body>
</html>
