{{template "header"}}
<body>
    {{template "navbar" .LoginUser}}
    
    <div class="container px-5 py-1">
        <div class="row pb-5">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a class="nav-link text-secondary" href="/home/">← Back to posts</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>{{.Post.Title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{.Post.CreatedAt | formatDate }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="categories mb-3">
                    <h5>
                        {{range .Post.Categories}}
                            <span class="badge text-bg-warning">{{.Name}}</span>
                        {{end}}
                    </h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Post</p>
            </div>
            <div class="col-md-9" id="post_description_holder">
                <p id="description">{{.Post.Description}}</p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Related Image</p>
            </div>
            <div class="col-md-9">
                <p>{{.Post.Description}}</p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Author</p>
            </div>
            <div class="col-md-9">
                <p>{{.Post.User.Username}}</p>
            </div>
        </div>
        
        {{if .LoginUser.ID}}
        <!-- Comments section for logged in users -->
        <div class="container p-5">
            <div class="row">
                        <form method="post" action="/likePost">
                            <div class="mb-3">
                                <input type="hidden" id="post_id" name="post_id" value="{{.Post.ID}}">
                            </div>
                            <label>
                                <input type="radio" name="like_post" value="like"> like
                              </label><br>
                              <label>
                                <input type="radio" name="dislike_post" value="dislike" > dislike
                              </label><br>
                              <button class="btn btn-success" type="submit" class="btn btn-success w-100">send</button>
                        </form>
                        <div>number of likes: {{.Post.NumberOfLikes}}</div>
                        <div>number of dislikes {{.Post.NumberOfDislikes}}</div>
                </div>
            </div>
        </div>
        {{else}}
        <!-- Comments section for not logged in users -->
        <div class="container p-5">
            <div class="row">
                <div class="col-md-12">
                        <div class="post-card">
                        </div>
                </div>
            </div>
        </div>
        {{end}}
        
        {{if eq .LoginUser.ID .Post.UserId}}
        <div class="row">
            <div class="col-md-2">
                <a id="editPost" class="btn btn-success" href="/editPost/{{.Post.UUID}}"><i class="fas fa-edit me-2"></i>Edit Post</a>
            </div>
            <div class="col-md-2">
                <form action="/deletePost" method="post">
                    <input type="hidden" name="id" value="{{.Post.ID}}">
                    <button type="submit" class="btn btn-light"><i class="fas fa-edit me-2"></i>Delete Post</button>
                </form>
            </div>
        </div>
        {{end}}
        
    </div>


    {{if .LoginUser.ID}}
    <!-- New comment section -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Comments</h3>
                <p class="text-secondary">You can share your ideas about this post here.</p>
                <form method="post" action="/submitComment">
                    <div class="mb-3">
                        <input type="hidden" id="post_id" name="post_id" value="{{.Post.ID}}">
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Text" rows="4" name="description"></textarea>
                    </div>
                    <button class="btn btn-success w-100" type="submit">Comment</button>
                </form>
            </div>
        </div>
    </div>
    {{end}}

    {{if .LoginUser.ID}}
    <!-- Comments section for logged in users -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                {{range .Comments}}
                    <div class="post-card">
                        <h5 class="mt-2">{{.User.Username}}</h5>
                        <p>{{.CreatedAt | formatDate }}</p>
                        <small>{{.Description}}</small>
                        <div>number of likes: {{.NumberOfLikes}}</div>
                        <div>number of dislikes {{.NumberOfDislikes}}</div>
                    </div>

                    <form method="post" action="/likeComment">
                        <div class="mb-3">
                            <input type="hidden" id="comment_id" name="comment_id" value="{{.ID}}">
                        </div>
                        <label>
                            <input type="radio" name="like" value="like"> like
                          </label><br>
                      
                          <label>
                            <input type="radio" name="dislike" value="dislike" > dislike
                          </label><br>
                          <button class="btn btn-success" type="submit" class="btn btn-success w-100">send</button>
                    </form>
                {{end}}
            </div>
        </div>
    </div>
    {{else}}
    <!-- Comments section for not logged in users -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                {{range .Comments}}
                    <div class="post-card">
                        <h5 class="mt-2">{{.User.Username}}</h5>
                        <p>{{.CreatedAt | formatDate }}</p>
                        <small>{{.Description}}</small>
                        <div>number of likes: {{.NumberOfLikes}}</div>
                        <div>number of dislikes {{.NumberOfDislikes}}</div>
                    </div>

                {{end}}
            </div>
        </div>
    </div>
    {{end}}


    </div>

    {{template "footer"}}

</body>
</html>

<!-- <script>
    $('#editPost').on('click', function(e){
      const description = $('#post_description').html();
      console.log(description)
      $('#post_description_holder').html(`<textarea class="form-control" placeholder="Text" rows="4" name="description">description</textarea>`);
    })

  </script> -->

