{{template "header"}}
<body>
    {{template "loggedInNavbar" .LoginUser}}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a class="nav-link text-secondary" href="/home/">← Back to posts</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>{{.Post.Title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{.Post.CreatedAt}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="categories mb-3">
                    <h5>
                        {{range .Post.Categories}}
                            <span class="badge text-bg-warning">{{.Name}}</span>
                        {{end}}
                    </h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p>Post</p>
            </div>
            <div class="col-md-9">
                <p>{{.Post.Description}}</p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Related Image</p>
            </div>
            <div class="col-md-9">
                <p>{{.Post.Description}}</p>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Author</p>
            </div>
            <div class="col-md-9">
                <p>{{.Post.User.Username}}</p>
            </div>
        </div>

        {{if eq .LoginUser.ID .Post.UserId}}
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-success"><i class="fas fa-edit me-2"></i>Edit Post</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-light"><i class="fas fa-edit me-2"></i>Delete Post</a>
            </div>
        </div>
        {{end}}
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{range .Comments}}
                    <div class="post-card">
                        <h5 class="mt-2">{{.User.Username}}</h5>
                        <p>{{.CreatedAt}}</p>
                        <small>{{.Description}}</small>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    </div>

    
    {{template "footer"}}
</body>
</html>
