{{template "header"}}
<body>
    
    {{if .LoginUser.ID }}

    {{template "navbar" .LoginUser}}
    
    {{else}}

    {{template "navbar"}}

    {{end}}
    
    <div class="container mt-5">

        <div class="row pb-5">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a class="nav-link text-secondary" href="/">← Back to posts</a>
                    </li>
                </ul>
            </div>
        </div>

        <h3>Posts related to "{{.SearchTerm}}"</h3>
        <input type="text" class="form-control my-3" placeholder="Search">
        
        <div class="categories mb-3">
            {{range .Categories}}
            <a class="btn btn-outline-secondary" href="/posts/{{.Name}}">{{.Name}}</a>
            {{end}}
        </div>
        
        
        {{template "posts" .Posts}}
    </div>
    
    {{template "footer"}}
</body>
</html>
